@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@700&family=Roboto:wght@400;700;900&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}
h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
  background: #334357;
  padding: 80px 0 125px;
}
.container{
	max-width: 1175px;
	margin: 0 auto;
	padding: 0 15px;
}
.nav{
	padding: 24px 0 21px 0;

}
.nav__items{
	display: flex;
	justify-content: space-between;

}
.list__li{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #2f3f54;
	display: inline-block;
	margin-left: 30px;
	padding-top: 15px;
}
.header{
	background: #3782e5;
	padding-top: 165px;
}
.header__items{
	display: flex;
	justify-content: space-between;
}
.text__text{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}	
.text__title{
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	line-height: 52px;
	font-weight: 900;
	text-transform: uppercase;
	color: #ffffff;
}
.text__price{
	font-family: 'Lato', sans-serif;
	font-size: 19px;
	line-height: 52px;
	font-weight: 700;
	color: #ffffff;
	margin: -10px 0 -10px 0;

}
.text__list{
	padding-top: 24px;
}
.text__li{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: 700;
	color: #ffffff;

}
li span{
	background: url("./../img/favWP.png") left no-repeat;
	padding-left: 15px;
}
.text__list li{
	background: url("./../img/check.png") left no-repeat;
	padding-left: 20px;
}
.text__btn1{
	padding: 53px 0 18px 0;
}
.text__btn{
	padding: 13px 47px;
	height: 47px;
	border: 3px solid #ffffff;
	border-radius: 23.5px;
	display: inline-block;
}
.text__btn span{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
}
.items__img{
	padding-bottom: 184px;
	color: #212121;
	font-size: 14px;
	position: relative;
}
.items__circle{
	height: 230px;
	width: 230px;
	background-color: #ffffff;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -66px;
	right: -60px;

}
.text1{
	font-family: 'Lato', sans-serif;
	margin-bottom: 10px;
	text-align: left;
	width: 130px;
}
.text2{
	font-family: 'Lato', sans-serif;
	font-size: 54px;
	font-weight: 700;
	margin-bottom: 5px;
}
.text3{
	font-family: 'Lato', sans-serif;
	text-align: right;
	width: 140px;
}
.main{
	padding: 156px 0 180px 0;
}
.main__title{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	line-height: 50px;
	font-weight: 700;
	color: #2f3f54;
	text-align: center;
	padding-bottom: 40px;
}
.main__title span{
	color: #2575e7;
}
.main__text{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #4a6385;
	text-align: center;
	padding-bottom: 120px;
}
.main__text span{
	color: #e74c3c;
}
.main__text em{
	color: #42d6c1;
	font-style: normal;
}
.main__cards{
	display: flex;
	gap: 30px;
}
.cards__item{
	padding: 0 40px;
	max-width: 420px;
	box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
	border-radius: 2px 2px 0px 0px;
	position: relative;
	overflow: hidden;
}
.card__item-price{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #ffffff;
	font-size: 33px;
	width: 270px;
	height: 460px;
	border-radius: 135px;
	background-color: #267ae9;
	position: absolute;
	top: -370px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 40px;
}
.card__item-price span{
	font-size: 16px;
}
.card__item-img{
	padding-top: 120px;
	text-align: center;
	margin-bottom: 30px;
	min-height: 241px;
}
.card__item-title{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 25px;
	font-size: 32px;
	font-weight: 700;
	color: #267ae9;
}
.card__item-text{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #4a6385;
	max-width: 300px;
} 
.card__item-list{
	padding: 63px 0 70px 0;
}
.item__list-list{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 0.04em;
	color: #4a6385;
	margin-bottom: 10px;
}
.div__div{
	padding-top: 45px;
}
.card__item-list li{
	background: url("./../img/check1.png") left no-repeat;
	padding-left: 30px;
}
.item__list-btn{
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #fff;
	background-color: #267ae9;
	font-weight: 700px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 20px 10px;
}
.footer__inner{
	display: flex;
	justify-content: space-between;
}
.footer__col-logo{
	width: 263px;

}
.footer__logo{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 3px;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #d0e4ff;
	background: url("./../img/logo__white.png") left no-repeat;
	padding-left:  50px;
}
.footer__text{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 22px;
	padding: 30px 0;
	color: #718db2;
	border-bottom: 1px solid rgba(255,255,255,0.05);
}
.footer-menu{
	width: 165px;
}
.footer__title{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #d0e4ff;
	margin-bottom: 30px;
}
.footer__list li{
	margin-bottom: 10px;
}
.footer__list a{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	color: #718db2;
}
.footer-form{
	width: 263px;
}
.footer-form input,
.footer-form textarea{
	border: 1px solid rgba(255,255,255,0.05);
	background-color: transparent;
	height: 38px;
	display: block;
	width: 100%;
}
.footer-form input::placeholder,
.footer-form textarea::placeholder{
	color: #718db2;
	font-size: 11px;
}
.footer-form textarea{
	padding: 12px 0 12px 0;
	height: 85px;
	resize: none;
	margin-bottom: 10px;
}
.footer-form button{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	border: none;
	background-color: #2575e7;
	padding: 10px;
	cursor: pointer;
}
.reviews{
	padding: 120px 0;
	background-color: #fafafa;
}
.rev__title{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	line-height: 50px;
	font-weight: 700;
	color: #2f3f54;
	text-align: center;
}
.rev__title span{
	color: #267ae9;
}
.reviews-slider{
	margin-top: 150px;
}
.reviews-slider .slick-list{
	margin: 0 -50px;
}
.reviews-slider .slick-slide{
	margin: 0 50px;
	padding-bottom: 70px;
}
.reviews-slider .slick-dots{
	display: flex;
	justify-content: center;
}
.reviews-slider .slick-dots li{
	margin: 0 8px;
}
.reviews-slider .slick-dots li.slick-active button{
	background-color: #fff;
	border: 2px solid #2575e7;
}
.reviews-slider .slick-dots button{
	font-size: 0px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	padding: 0;
	border: none;
	background-color: #2575e7;
	outline: none;
}
.reviews-box{
	display: flex;
	box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
}
.reviews-box__content{
	background-color: #fff;
	width: 330px;
	font-size: 16px;
	line-height: 26px;
	padding: 0 40px;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.reviews-box__text{
	font-family: 'Lato', sans-serif;
	color: #4a6385;
	font-size: 16px;
	margin-bottom: 30px;
}
.reviews-box__author{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #2f3f54;
}
.reviews-box__author span{
	 color: #2575e7;
	 font-weight: 700px;
}
.reviews-box__img{
	background-color: #267ae9;
	width: 190px;
	min-height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.img__img{
	padding: 100px 0 80px 0 ;
}